<mat-grid-list cols="6" rowHeight="25rem"  [gutterSize]="'15px'">
    <mat-grid-tile class="dummy" colspan="1" rowspan="1.5"></mat-grid-tile>
  <mat-grid-tile colspan="4" rowspan="1.5">
      <div class="outer-container">Select a Project:
          <mat-form-field>
            <mat-select [formControl]="currentProjectForm"  (selectionChange)="changeProject($event.value)">
              <mat-label>Ongoing Projects</mat-label>
              <mat-option *ngFor="let project of projects" [value] = project>
                {{project}}
              </mat-option>
          </mat-select>
          
          </mat-form-field>
          <br/>
          <button mat-flat-button id="createProjectButton" class="save" (click)="createProject()">New Project</button><br/>
          <button mat-flat-button id="employeeButton" class="employees" (click)="manageEmployees()">Manage Employees</button><br/>
          <button mat-raised-button class="edit" (click)="editProject()">Edit Project Details</button><br/>
          <button mat-raised-button class="complete" (click)="updateProject()">Update Project Status</button><br/>
          </div>
    <mat-grid-tile-header>Project: {{currentProjectName}}</mat-grid-tile-header> <!--Use *ngFor to show lists of projects, dynamically put their names in-->
    <div class="gridBody">
      <h2 class="project-item">Description:
        <div class="inner">{{ currentProject.description }}</div>
      </h2>
      <h2 class="project-item"> Manager: 
        <div class="inner">{{ currentProject.projectManager }}</div>
      </h2>
      <h2 class="project-item"> Team:
        <div class="inner" *ngFor="let employee of currentProject.teamMembers">{{ employee }}</div>
      </h2>
      <h2 class="project-item">Requirements:
        <div class="inner"  *ngFor="let req of requirementsList">{{ req }}</div> 
      </h2>
      <h2 class="project-item">Risks:
        <div class="inner" *ngFor="let risk of riskList">{{ risk }}</div>
      </h2>
      <h2 class="project-item" *ngFor = "let task of taskList; index as i">Task #{{i+1}}
        <div class="inner">Name: {{ task.name }}</div>
        <div class="inner">Description: {{ task.description }}</div>
        <div class="inner">Associated Requirement: {{ task.requirement}} </div>
        <div class="inner">Assigned To: {{ task.assignedTo }} </div>
        <div class="inner" *ngIf="task.areRequirementsCompleted">Requirements Analysis is done!</div>
        <div class="inner" *ngIf="!task.areRequirementsCompleted">Estimated Time Remaining for Requirements Analysis: 
          {{getRequirementsTimeRemaining(task)}}</div>

          <div class="inner" *ngIf="task.isDesigningCompleted">Designing is done!</div>
          <div class="inner" *ngIf="!task.isDesigningCompleted">Estimated Time Remaining for Designing: 
            {{getDesigningTimeRemaining(task)}}</div>

          <div class="inner" *ngIf="task.isCodingCompleted">Coding is done!</div>
          <div class="inner" *ngIf="!task.isCodingCompleted">Estimated Time Remaining for Coding: 
            {{getCodingTimeRemaining(task)}}</div>

          <div class="inner" *ngIf="task.isTestingCompleted">Testing is done!</div>
          <div class="inner" *ngIf="!task.isTestingCompleted">Estimated Time Remaining for Testing: 
            {{getTestingTimeRemaining(task)}}</div>

          <div class="inner" *ngIf="task.isManagementCompleted">Project Management is done!</div>
          <div class="inner" *ngIf="!task.isManagementCompleted">Estimated Time Remaining for Project Management: 
            {{getManagementTimeRemaining(task)}}</div>
     </h2>
      
    </div>
   </mat-grid-tile>
    <mat-grid-tile class="dummy" colspan="1" rowspan="1.5"></mat-grid-tile>
</mat-grid-list>
