.project-item {
  margin-bottom: 1rem;
  border: 2px black solid;
  color: white;
}

.inner {
  font-size: 1.4rem !important;
  color: black;
}

.outer-container {
  margin-top: 2rem;
}
button {
  width: 20rem;
}

mat-select {
  width: 13rem;
  border: black 1px solid;
}

::ng-deep .mat-form-field-underline {
  display: none;
}