<mat-form-field>
  <mat-select [formControl]="currentProjectForm">
    <mat-label>Ongoing Projects</mat-label>
    <mat-option *ngFor="let project of projects" [value] = project>
      {{project}}
    </mat-option>
</mat-select>

</mat-form-field>
<br/>
<button mat-flat-button id="createProjectButton" class="header-button" (click)="createProject()">Create a Project</button>
<button mat-raised-button color="primary" (click)="editProject()">Edit Project Details</button>
<button mat-raised-button color="warn" (click)="updateProject()">Update Project Status</button>

<mat-grid-list cols="6" rowHeight="25rem"  [gutterSize]="'15px'">
    <mat-grid-tile class="dummy" colspan="1" rowspan="1.5"></mat-grid-tile>
  <mat-grid-tile colspan="4" rowspan="1.5">
    <mat-grid-tile-header>Project ABC</mat-grid-tile-header> <!--Use *ngFor to show lists of projects, dynamically put their names in-->
    <div class="gridBody">
      <div> Manager: Alfred Pennyworth</div>
      <div> Current Phase: Requirements Analysis</div>
      <div>Total estimated time: 6 months</div>
      <div>Time remaining: 5.9 months</div>
      <div>Team Members: Selina Kyle, Lucius Fox, Jim Gordon</div>
    </div>
    <br/><br/><br/><br/><br/><br/>
    <p>
      The home page will also display an overview of current project status by providing details about how much time has been spent in each phase of the project and how much time is remaining.
    </p>
   </mat-grid-tile>
    <mat-grid-tile class="dummy" colspan="1" rowspan="1.5"></mat-grid-tile>
</mat-grid-list>
