.tile {
  margin-bottom: 20px;
}

#information {
  background: #317937;
}

#employee-list {
  background: #317937;
}

#project-manager {
  margin-top: 50px;
  color: white;
  font-size: 1.2rem;
}

#team-select {
  margin-top: 30px;
  width: 140px;
  background-color: #317937;
  outline: 2px solid black;
}

mat-selection-list {
  border: 2px black solid;
}

#risks-list {
  background: #317937;
}

#requirements-list {
  background: #317937
}


#description-text {
  height: 20rem;
  width: 15rem;
  background: none;
  font-size: 20px;
  outline: 2px solid black;
}

#project-name {
  padding-top: 30px;
}

.edit {
  background: blue;
}

.delete {
  background: #d20b0b;
}

.save {
  margin-top: 1rem;
}

.inner-buttons {
  margin-left: 20px;

}

.column {
  margin-left: 20px;
  margin-right: 20px;
}

div.item {
  margin-bottom: 50px;
  border: 2px solid black;
  width: 30rem;
}

mat-list {
  margin-right: 1rem;
}

#likelihood {
  width: 250px;
}

.project-name-container {
  margin-top: 50px;
  color: white;
  font-size: 1.5rem;
}

.project-name {
  background:  #317937;
  border: none;
  font-size: 1.2rem;
  color: white;
  padding: 2rem;
}

input:focus{
  outline: none;
}

.divider{
  border: 2px solid black;
  width: 400px;
}

.descriptionBody {
  font-size: 18px;
  margin-top: 50px;
  font-weight: bold;
  color: white;
  display: inline-block;
}

mat-form-field {
  padding-right: 5rem;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

textarea {
  max-width: unset !important;
  width: 250px !important;
  resize: none !important;
}