<mat-grid-list cols="4" rowHeight="50rem" >
  <!-- <mat-grid-tile colspan="1" class="dummy"></mat-grid-tile> -->
  <mat-grid-tile colspan="1" rowspan="1" id="information" class="tile">

      <mat-grid-tile-header>Name and Description</mat-grid-tile-header><br/>
        <div class="project-name-container">Project Name:
        <div></div>
        <input readonly class="project-name" [(ngModel)]="currentProjectName"/><br/>
      </div>
      <form [formGroup]="generalInfo">
        <mat-form-field id="project-description">
          <div class="descriptionBody">
            <textarea matInput placeholder="Description" formControlName="projectDescription" class="form-control" id="description-text"></textarea>
        </div>
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="save()">Save Description</button>
  </mat-grid-tile>

  <!-- <mat-grid-tile colspan="1" class="dummy"></mat-grid-tile> -->
  <!-- <mat-grid-tile colspan="1" class="dummy"></mat-grid-tile> -->

  <mat-grid-tile id="employee-list" colspan="1" rowspan="1" class="tile">
    <mat-grid-tile-header>Team Members</mat-grid-tile-header>
    <div id="project-manager">Project Manager <br/>
    <mat-select id="team-select" [formControl]="projectManager">
      <mat-option *ngFor="let employee of employeesList" [value]=employee>{{ employee }}</mat-option>
    </mat-select>
  </div>
      <mat-selection-list [compareWith]="compare" [formControl]="teamMembers">
          <mat-list-option *ngFor="let employee of employeesList" [value]="employee">
            {{ employee }}
          </mat-list-option>
        </mat-selection-list>
  </mat-grid-tile>

  <!-- <mat-grid-tile colspan="1" class="dummy"></mat-grid-tile> -->
  <!-- <mat-grid-tile colspan="1" class="dummy"></mat-grid-tile>   -->

  <mat-grid-tile id="risks-list" colspan="1" rowspan="1" class="tile">
    <mat-grid-tile-header>Risks</mat-grid-tile-header>
    <br/><br/>
    <button mat-raised-button class="add" (click)="addRisk()">Add New Risk</button>

    <mat-list>
      <div class="item" *ngFor="let risk of risksArray">
        <mat-list-item>
          <div class="column">Name: {{risk.name}}</div>
          <div class="column">Description: {{risk.description}}</div>
          <div class="column">Likelihood: {{risk.likelihood}}</div>
        </mat-list-item>
        <div class="inner-buttons">
            <button mat-raised-button class="edit"(click)="editRisk(risk)">Edit</button>
            <button mat-raised-button class="delete" (click)="deleteRisk(risk)">Delete</button>
        </div>
      </div>
    </mat-list>
  </mat-grid-tile>

 <!-- <mat-grid-tile colspan="1" class="dummy"></mat-grid-tile> -->
 <!-- <mat-grid-tile colspan="1" class="dummy"></mat-grid-tile> -->

  <mat-grid-tile id="requirements-list" colspan="1" rowspan="1" class="tile">
    <mat-grid-tile-header>Requirements</mat-grid-tile-header>
    <br/><br/>
    <button mat-raised-button class="add" (click)="addRequirement()">Add New Requirement</button>
    <mat-list>
      <div class="item" *ngFor="let req of requirementsArray">
      <mat-list-item>
        <div class="column">Name: {{req.name}}</div>
        <div class="column">Category: {{req.category}}</div>
        <div class="column">Description: {{req.description}}</div>
        <div class="column">Priority: {{req.priority}}</div>

      </mat-list-item>
      <div class="inner-buttons">
          <button mat-raised-button class="edit"(click)="editRequirement(req)">Edit</button>
          <button mat-raised-button class="delete" (click)="deleteRequirement(req)">Delete</button>
        </div>
      </div>

    </mat-list>
  </mat-grid-tile>
  <!-- <mat-grid-tile colspan="1" class="dummy"></mat-grid-tile> -->
</mat-grid-list>
