#description {
  background: #d8f175;
}

#employee-list {
  background: #e0992f;
}

#project-manager {
  margin-top: 50px;
}

#risks-list {
  background: purple;
}

#requirements-list {
  background: #3e3c3c
}


#description-text {
  height: 40rem;
  width: 15rem;
  background: none;
  font-size: 20px;
}