#information {
  background: #194ec5;
}

#employee-list {
  background: #e0992f;
}

#project-manager {
  margin-top: 50px;
}

#team-select {
  margin-top: 30px;
}

#risks-list {
  background: purple;
}

#requirements-list {
  background: #3e3c3c
}


#description-text {
  height: 30rem;
  width: 15rem;
  background: none;
  font-size: 20px;
}

#project-name {
  padding-top: 30px;
}

.add {
  background: green;
  margin-bottom: 5px;
}

.edit {
  background: blue;
}

.delete {
  background: red;
}

.inner-buttons {
  margin-left: 20px;
}

.column {
  margin-left: 20px;
  margin-right: 20px;
}

mat-list-item {
  margin-bottom: 50px;
}
