<div class="button">
    <!-- <button mat-raised-button class="cancel" *ngIf="isExistingUser()" (click)="goBack()">Cancel</button> -->
    <button mat-raised-button color="primary" (click)="save()">Submit Changes</button>
</div>
<br/><br/>
<mat-grid-list cols="8" rowHeight="20rem" [gutterSize]="'15px'">
    <mat-grid-tile colspan="2" rowspan="1.5" id="information">
      
        <mat-grid-tile-header>Name and Description</mat-grid-tile-header>
        <form [formGroup]="generalInfo">
          <mat-form-field id="project-name">
            <input matInput placeholder="Name of Project" type="text" formControlName="projectName" required class="form-control">
          </mat-form-field><br/>
          <mat-form-field id="project-description">
            <div class="gridBody">
              <textarea matInput placeholder="Description" formControlName="projectDescription" class="form-control" id="description-text"></textarea>
          </div>
        </mat-form-field>
      </form>
    </mat-grid-tile>
  
    <mat-grid-tile id="employee-list" colspan="2" rowspan="1.5">
      <mat-grid-tile-header>Team Members</mat-grid-tile-header>
      <div id="project-manager">Project Manager <br/>
      <mat-select id="team-select" [formControl]="projectManager">
        <mat-option *ngFor="let employee of employeesList" [value]=employee>{{ employee }}</mat-option>
      </mat-select>
    </div>
        <mat-selection-list [compareWith]="compare" [formControl]="teamMembers">
            <mat-list-option *ngFor="let employee of employeesList" [value]="employee">
              {{ employee }}
            </mat-list-option>
          </mat-selection-list>
    </mat-grid-tile>
  
  
    <mat-grid-tile id="risks-list" colspan="2" rowspan="1.5">
      <mat-grid-tile-header>Risks</mat-grid-tile-header>
      <br/><br/>
      <button mat-raised-button class="add" (click)="addRisk()">Add New Risk</button>

      <mat-list>
        <mat-list-item>
          <div class="column">Name</div>
          <div class="column">Description</div>
        </mat-list-item>
        <mat-list-item>
          <div class="column">ABC</div>
          <div class="column">This risk is dangerous!</div>
          <div class="inner-buttons">
            <button mat-raised-button class="edit">Edit</button>
            <button mat-raised-button class="delete">Delete</button>
        </div>
        </mat-list-item>
        </mat-list>
    </mat-grid-tile> 
  
  
    <mat-grid-tile id="requirements-list" colspan="2" rowspan="1.5">
      <mat-grid-tile-header>Requirements</mat-grid-tile-header>
      <br/><br/>
      <button mat-raised-button class="add" (click)="addRequirement()">Add New Requirement</button>
      <mat-list>
          <mat-list-item>
              <div class="column">Name</div>
              <div class="column">Category</div>
              <div class="column">Description</div>
              <div class="column">Priority</div>
          </mat-list-item>
  
        <mat-list-item>
            <div class="column">Easy to use</div>
            <div class="column">Non-Functional</div>
            <div class="column">Must be easy to use! Or else we will all bee in trouble!!!!</div>
            <div class="column">1</div>
            <div class="inner-buttons">
              <button mat-raised-button class="edit">Edit</button>
              <button mat-raised-button class="delete">Delete</button>
          </div>
        </mat-list-item>
        
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="0.5"></mat-grid-tile>
  </mat-grid-list>
   
