<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <mat-toolbar-row> 
    <!-- <button mat-flat-button class="header-button" disableRipple></button> TODO put project name here -->
    <button mat-flat-button id="homeButton" class="header-button" (click)="navigateHome()">Home</button>
    <button mat-flat-button id="employeeButton" class="header-button" (click)="manageEmployees()">Manage Employees</button>
    <button mat-flat-button id="createProjectButton" class="header-button" (click)="createProject()" *ngIf="onHomePage()">Create a Project</button>
    </mat-toolbar-row>
</mat-toolbar>
<br>

<!--Anything above the router-outlet will be displayed DIRECTLY above the page content-->
<router-outlet></router-outlet>
<!--Anything below the router-outlet will be displayed DIRECTLY below the page content-->