<h1 mat-dialog-title>Task</h1>
<div mat-dialog-content>
  <mat-form [formGroup]="taskForm">
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Name" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Associated Requirement</mat-label>
      <mat-select required formControlName="requirement">
          <mat-option *ngFor="let req of data.requirementsList" [value]="req">{{req}}</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Assigned To</mat-label>
        <mat-select required formControlName="assignedTo">
          <mat-option *ngFor="let teamMember of data.teamList" [value]="teamMember">{{teamMember}}</mat-option>

        </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field>
        <textarea style="height:200px;" formControlName="description" matInput placeholder=" Description" required></textarea>
    </mat-form-field>

    <div>
      <mat-label class="category">Requirements Analysis</mat-label>
      <mat-form-field>
          <input matInput formControlName="estReqs" type="number" min="1" placeholder="Estimated Time" required>
      </mat-form-field>
      <mat-form-field>
          <input matInput formControlName="loggedReqs" type="number" min="1" placeholder="Logged Time" required>
      </mat-form-field>
    </div>

    <div>Designing
      <mat-form-field>
          <input matInput formControlName="estDesign" type="number" min="1" placeholder="Estimated Time" required>
      </mat-form-field>
      <mat-form-field>
          <input matInput formControlName="loggedDesign" type="number" min="1" placeholder="Logged Time" required>
      </mat-form-field>
    </div>

    <div>
      <mat-label class="category">Coding</mat-label>
      <mat-form-field>
          <input matInput formControlName="estCode" type="number" min="1" placeholder="Estimated Time" required>
      </mat-form-field>
      <mat-form-field>
          <input matInput formControlName="loggedCode" type="number" min="1" placeholder="Logged Time" required>
      </mat-form-field>
    </div>

    <div>
      <mat-label class="category">Testing</mat-label>
      <mat-form-field>
          <input matInput formControlName="estTest" type="number" min="1" placeholder="Estimated Time" required>
      </mat-form-field>
      <mat-form-field>
          <input matInput formControlName="loggedTest"type="number" min="1" placeholder="Logged Time" required>
      </mat-form-field>
    </div>

    <div>
      <mat-label class="category">Project Management</mat-label>
      <mat-form-field>
          <input matInput formControlName="estManagement" type="number" min="1" placeholder="Estimated Time" required>
      </mat-form-field>
      <mat-form-field>
          <input matInput formControlName="loggedManagement" type="number" min="1" placeholder="Logged Time" required>
      </mat-form-field>
    </div>
  
    <div mat-dialog-actions>
      <button mat-button (click)="onCancel()">Cancel</button>
      <button mat-button [mat-dialog-close]="taskForm" [disabled]="taskForm.invalid">Save</button>
    </div>
  </mat-form>
</div>