<div class="button">
  <button mat-raised-button class="add" (click)="addTask()">Add New Task</button>
</div>
<br/><br/>
<mat-grid-list cols="6" rowHeight="20rem" [gutterSize]="'15px'">

  <mat-grid-tile class="task" colspan="2" rowspan="1.5" *ngFor="let task of tasksList">
  <mat-grid-tile-header>{{task.name}}</mat-grid-tile-header>
  <br/><br/>
  <button mat-raised-button class="edit" (click)="editTask(task)">Edit Task</button>
  <button mat-raised-button class="delete" (click)="deleteTask(task)">Delete Task</button>
  <h3>Assigned to: {{task.assignedTo}}</h3>
  <h3>Related to: {{task.requirement}}</h3>
  <h3>{{task.description}}</h3>


  <mat-list>
    <mat-list-item>
      <div class="column1">Phase</div>
      <div class="column">Estimated<br/></div>
      <div class="column">Logged<br/></div>
    </mat-list-item>
    <mat-list-item>
      <div class="phaseColumn">Requirements Analysis</div>
      <div class="estimated">{{task.estReqs}}</div>
      <div class="logged">{{task.loggedReqs}}</div>
      <div class="inner-buttons">
        <button class="complete" mat-raised-button>Mark as Done</button>
      </div>
      </mat-list-item>

  <mat-list-item>
    <div class="phaseColumn">Designing<br/></div>
    <div class="estimated">{{task.estDesign}}</div>
    <div class="logged">{{task.loggedDesign}}</div>
    <div class="inner-buttons">
      <button class="complete" mat-raised-button>Mark as Done</button>
    </div>
  </mat-list-item>

  <mat-list-item>
    <div class="phaseColumn">Coding<br/></div>
    <div class="estimated">{{task.estCode}}</div>
    <div class="logged">{{task.loggedCode}}</div>
    <div class="inner-buttons">
      <button class="complete" mat-raised-button>Mark as Done</button>
    </div>
  </mat-list-item>

  <mat-list-item>
    <div class="phaseColumn">Testing<br/></div>
    <div class="estimated">{{task.estTest}}</div>
    <div class="logged">{{task.loggedTest}}</div>
    <div class="inner-buttons">
      <button class="complete" mat-raised-button>Mark as Done</button>
    </div>
    </mat-list-item>

    <mat-list-item>
      <div class="phaseColumn">Project Management<br/></div>
      <div class="estimated">{{task.estManagement}}</div>
      <div class="logged">{{task.loggedManagement}}</div>
      <div class="inner-buttons">
        <button class="complete" mat-raised-button>Mark as Done</button>
      </div>
    </mat-list-item>
  </mat-list>
</mat-grid-tile> 
</mat-grid-list>
