.column {
  margin-right: 3rem;
}

.column1 {
  margin-right: 13rem;
}

.phaseColumn {
  width: 30rem;
  margin-right: 2rem;
  font-size: 1.2rem;
  text-decoration: underline;
}

.estimated {
  width: 12rem;
  margin-right: 2rem;

}

.logged {
  width: 10rem;
  margin-right: 2rem;

}

.task {
  background: #317937;
}

.category {
  margin-right: 1rem;
}

.completed {
  text-decoration: line-through red;
}

.mat-dialog-content {
  padding: 0 24px !important;
}

#description {
  height: 200px;
  max-width: unset !important;
  width: 150px;
  resize: none;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

#name {
  height: 200px;
  resize: none;
}