<div class="button">
  <button mat-raised-button class="add" (click)="addTask()">Add New Task</button>
</div>
<br/><br/>
<mat-grid-list cols="6" rowHeight="25rem" [gutterSize]="'15px'">

  <mat-grid-tile class="task" colspan="1" rowspan="1.5" *ngFor="let task of tasksList">
    <mat-grid-tile-header>Task name:{{task.name}}</mat-grid-tile-header><br/><br/>
    <div class="button-container">
        <button mat-raised-button class="edit" (click)="editTask(task)">Edit Task</button>
        <button mat-raised-button class="delete" (click)="deleteTask(task)">Delete Task</button>
    </div>

    <h3>Assigned to: {{task.assignedTo}}</h3>
    <h3>Related to: {{task.requirement}}</h3>
    <h3>Description: {{task.description}}</h3>


  <mat-list>
    <mat-list-item [class]="getCompletedStatus(task.areRequirementsCompleted)">
      <div class="phaseColumn">Requirements Analysis</div>
      <div class="estimated">Estimated: {{task.estReqs}}</div>
      <div class="logged">Logged: Logged: {{task.loggedReqs}}</div>
      <div class="inner-buttons">
        <button class="complete" mat-raised-button (click)="toggleCompleteRequirements(task)">{{getButtonText(task.areRequirementsCompleted)}}</button>
      </div>
      </mat-list-item>
      <br/><br/>

    <mat-list-item [class]="getCompletedStatus(task.isDesigningCompleted)">
      <div class="phaseColumn">Designing<br/></div>
      <div class="estimated">Estimated: {{task.estDesign}}</div>
      <div class="logged">Logged: {{task.loggedDesign}}</div>
      <div class="inner-buttons">
        <button class="complete" mat-raised-button (click)="toggleCompleteDesigning(task)">{{getButtonText(task.isDesigningCompleted)}}</button>
      </div>
    </mat-list-item>
    <br/><br/>

    <mat-list-item [class]="getCompletedStatus(task.isCodingCompleted)">
      <div class="phaseColumn">Coding<br/></div>
      <div class="estimated">Estimated: {{task.estCode}}</div>
      <div class="logged">Logged: {{task.loggedCode}}</div>
      <div class="inner-buttons">
        <button class="complete" mat-raised-button (click)="toggleCompleteCoding(task)">{{getButtonText(task.isCodingCompleted)}}</button>
      </div>
    </mat-list-item>
    <br/><br/>

    <mat-list-item [class]="getCompletedStatus(task.isTestingCompleted)">
      <div class="phaseColumn">Testing<br/></div>
      <div class="estimated">Estimated: {{task.estTest}}</div>
      <div class="logged">Logged: {{task.loggedTest}}</div>
      <div class="inner-buttons">
        <button class="complete" mat-raised-button (click)="toggleCompleteTesting(task)">{{getButtonText(task.isTestingCompleted)}}</button>
      </div>
      </mat-list-item>
      <br/><br/>

    <mat-list-item [class]="getCompletedStatus(task.isManagementCompleted)">
      <div class="phaseColumn">Project Management<br/></div>
      <div class="estimated">Estimated: {{task.estManagement}}</div>
      <div class="logged">Logged: {{task.loggedManagement}}</div>
      <div class="inner-buttons">
        <button class="complete" mat-raised-button (click)="toggleCompleteManagement(task)">{{getButtonText(task.isManagementCompleted)}}</button>
      </div>
    </mat-list-item>
  </mat-list>
</mat-grid-tile> 
</mat-grid-list>
