/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

html {
  background: rgb(169, 169, 169);  
}

mat-grid-tile-header{
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: auto;
}

mat-grid-tile {
  padding-top: 7rem;
  overflow: auto !important;
  margin-top: 10px;
  background: #317937;
}

mat-grid-list {
  margin-bottom: 10rem;
}

mat-selection-list {
  max-height: 50rem;
  max-width: 100rem;
  overflow: auto;
  width: 90%;
  margin-top: 5rem;
}


.dummy {
  visibility: hidden;
}

.mat-figure {
  display: block !important;
  padding-left: 20px !important;
  padding-top: 20px !important;
}

.gridBody {
  width: 80%;
  font-size: 18px;
  margin-top: 50px;
  font-weight: bold;
  color: white;
  display: inline-block;
}

.add {
  background: #000000;
  margin-bottom: 5px;
}
.save{
  background: purple;
  margin-bottom: 5px;
}

.edit {
  background: blue;
}

.delete {
  background: #d20b0b;
}

.complete {
  background: firebrick;
}

button {
  border: black 1px solid !important;
}